body,
html {
  font-family: Proxima Nova, proxima-nova, Proxima Nova Fallback, Arial,
    sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body,
html {
  scroll-behavior: smooth;
}

#page-root,
body,
html {
  min-height: 100%;
}

._2s8qlRft {
  color: inherit;
}

._2zFNtrUH {
  align-items: baseline;
  color: #455065;
  display: flex;
  flex-shrink: 0;
  font-size: 29px;
  line-height: 29px;
  max-width: 100%;
}

._2zFNtrUH img,
._2zFNtrUH svg {
  display: inline-block;
  vertical-align: -17.5%;
}

._1lqQP1In {
  align-items: baseline;
  color: inherit;
  display: flex;
}

._3sedtAc7 {
  height: 29px;
  margin: 0 9px 0 1px;
}

._3lBhZcpL ._1m09hJFy,
._3lBhZcpL ._2bDJPIeG > span,
._3lBhZcpL ._2h0Q-csS > span,
._3lBhZcpL._2zFNtrUH,
._3lBhZcpL ._3pv3brId,
._3lBhZcpL .m_DMFHig {
  color: inherit;
}

.CV4YLXjk {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-weight: 400;
  height: 64px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}

._13qVZnF8 {
  width: 100%;
}

html {
  scroll-padding-top: 64px;
}

._2SKZhefz {
  align-items: center;
  display: flex;
  height: 64px;
  min-height: 64px;
  position: relative;
}

@media (min-width: 768px) {
  ._2SKZhefz {
    margin-right: 40px;
  }
}

._1H08x506 {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
}

@media (min-width: 768px) {
  ._1H08x506 {
    margin-left: auto;
  }
}

._1H08x506.HfVT27du {
  visibility: visible;
}

._3MRiAuyU {
  display: none;
}

@media (min-width: 768px) {
  ._3MRiAuyU._2oFSXYPu {
    display: block;
  }
}

._10M8yw-N {
  align-items: center;
  display: flex;
  flex: 1;
  height: 64px;
  height: 100%;
  margin: 0 auto;
  padding: 0 56px 0 16px;
  position: relative;
  width: 100%;
}

._5J4FYFpA._1UujKHl6 ._10M8yw-N:not(._1yPD_vB2):not(._26C85qBR),
._5J4FYFpA._3P1PDB08 ._10M8yw-N:not(._1yPD_vB2) {
  color: #fff;
}

._2XsmF_ig {
  color: #455065;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

._2XsmF_ig ul {
  list-style: disc outside;
}

._2XsmF_ig li {
  padding-left: 8px;
}

._2XsmF_ig ol,
._2XsmF_ig ul {
  margin-left: 20px;
}

._2XsmF_ig ol:not(:last-child),
._2XsmF_ig ol li:not(:last-child),
._2XsmF_ig p:not(:last-child),
._2XsmF_ig ul:not(:last-child),
._2XsmF_ig ul li:not(:last-child) {
  margin-bottom: 16px;
}
